name: FTP Deploy

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    name: Upload to FTP Server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./app/public/wp-content/themes/okitech/   # okitechテーマディレクトリをアップロード
          server-dir: /oki-tech/wp-content/themes/okitech/   # 本番環境のテーマディレクトリ
          dangerous-clean-slate: true   # 既存ファイルを削除してからアップロード
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/.DS_Store 