name: FTP Deploy

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    name: Upload to FTP Server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./app/public/wp-content/   # wp-content直下からアップする場合
          server-dir: /oki-tech/wp-content/   # Oki-Techサイトのwp-contentディレクトリ
          # dangerous-clean-slate: true   # デバッグ用：既存ファイルを削除してからアップロード 